.sdd {
  min-height: 100vh;
}

.single-country-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-country {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.single-country-img {
  width: 500px;
  height: 300px;
}

.single-country-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
